body {
    background-image: url(../assets/bg.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.appDiv{
    margin: 0 auto;
    width: 500px;

    .loginContainer {
        background: linear-gradient(135deg, rgba(255,255,255,0) 5%, rgb(44, 44, 44, 0.8) 5%,
                                            rgb(43, 43, 43, 0.8) 95%, rgba(255,255,255,0) 95%);
        padding: 20px;

        .login {
            .loginLabel {
                color: white;
                margin-left: 42px;
            }

            .loginForm {
                list-style: none;

                .textArea {
                    background-color: black;
                    padding: 5px;
                    border-style: none;
                    margin-bottom: 10px;
                    color: white;
                }

                .loginButton {
                    background-color: transparent;
                    color: white;
                    padding: 10px;
                    font-size: 18px;
                    border-style: none;
                    cursor: pointer;
                    transition: 0.2s ease;
                }

                .loginButton:hover {
                    background-color: rgb(24, 24, 24);
                }
            }
        }
    }

    .addPalcoIcon {
        color: white;
        background-color: transparent;
        font-size: 30px;
        cursor: pointer;
        border-style: none;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: -3px;
        transition: 0.2s ease;
    }

    .addPalcoIcon:hover {
        background-color: rgb(45, 45, 45);
    }

    .toggle {
        float: right;
        background-color: transparent;
        border-style: none;
        color: white;
        cursor: pointer;
        transition: 0.2s ease;
        font-size: 16px;
        padding: 15px;
    }

    .toggle:hover {
        background-color: rgb(45, 45, 45);
    }

    .addPalcoDiv {
        margin-top: 10px;

        .addPalcoArea {
            margin-top: -15px;
            margin-left: 10px;
            background-color: black;
            border-style: none;
        }

        .addPalcoIcon {
            background-color: transparent;
            color: white;
            border-style: none;
            font-size: 15px;
            margin-left: 10px;
            transition: 0.2s ease;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
        .addPalcoIcon:hover {
            background-color: rgb(45, 45, 45);
        }
    }

    .palcoDiv {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: black;
        min-height: 160px;
        transition: 0.2s ease;
        background: linear-gradient(135deg, rgba(255,255,255,0) 5%, rgb(44, 44, 44, 0.8) 5%,
                                            rgb(43, 43, 43, 0.8) 95%, rgba(255,255,255,0) 95%);
        
        .palcoLabelDiv{
            padding-top: 10px;

            .palcoLabel {
                color: white;
                margin-left: 45px;
                font-weight: 600;
                font-size: 20px;
            }

            .editPalcoIcon {
                background-color: transparent;
                border-style: none;
                color: white;
                font-weight: 900;
                float: right;
                padding: 5px;
                cursor: pointer;
            }

            .editPalcoIcon:hover {
                background-color: rgb(68, 68, 68);
            }
        }

        .tableArea {
            padding: 10px;
            display: flex;
        
            .pic {
                height: 100px;
                width: 100px;
                margin: 10px;
            }
        
            .list {
                display: grid;
                margin-left: 10px;

                .playingDiv {
                    min-height: 50px;
                    margin-top: 8px;

                    .playingLabel {
                        margin-top: 5px;
                        color: white;
                        font-size: 20px;
                    }

                    .playingArtista {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 5px;
                        margin-top: 10px;
                        color: white;
                        font-size: 16px;

                        .artistaPos {
                            background-color: transparent;
                            color: white;
                            border-style: none;
                            font-size: 20px;
                            cursor: pointer;
                            margin-top: -5px;
                            margin-bottom: -5px;
                            margin-left: 30px;
                            padding-bottom: 5px;
                        }

                        .artistaPos:hover {
                            background-color: rgb(68, 68, 68);
                        }
                    }

                    .playingArtista:hover {
                        background-color: rgb(88, 88, 88);;
                    }
                }

                .nextList {
                    color: white;
                    list-style: none;
                    margin-top: 50px;
                    margin-left: -160px;
                    margin-right: -190px;

                    .labelSecondary {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 5px;
                        margin-top: 10px;
                        color: white;
                        font-size: 14px;
                    }

                    .labelSecondary:hover {
                        background-color: rgb(88, 88, 88);
                    }

                    .artistaButton {
                        float: right;
                        background-color: transparent;
                        color: white;
                        cursor: pointer;
                        border-style: none;
                        padding-top: 6px;
                        padding-bottom: 6px;
                        padding-right: 10px;
                        padding-left: 10px;
                        margin-left: 5px;
                        margin-top: -10px;
                        font-size: 18px;
                    }

                    .artistaButton:hover {
                        background-color: rgb(68, 68, 68);
                    }

                    .editArtistaDiv {
                        margin-top: 18px;
                        margin-left: 5px;

                        .editArtistaArea {
                            color: white;
                            font-size: 15px;
                            background-color: rgb(68, 68, 68);
                            border-style: none;
                        }

                        .artistaPalco {
                            float: right;
                            background-color: transparent;
                            color: white;
                            border-style: none;

                            .artistaPalcoOption {
                                background-color: black;
                                color: white;
                                border-style: none;
                            }
                        }

                        .artistaPalco:hover {
                            background-color: rgb(68, 68, 68);
                        }
                    }
                }
                
                .listLabel {
                    color: white;
                    margin-left: 18px;
                }
        
                .dataList{
                    list-style: none;
        
                    .listItem {
                        color: white;
                    }
                }

                .addArtistaDiv {
                    margin-left: -120px;

                    .addArtista {
                        background-color: transparent;
                        color: white;
                        border-style: none;
                        cursor: pointer;
                        float: left;
                        padding: 10px;
                    }

                    .addArtista:hover {
                        background-color: rgb(68, 68, 68);
                    }

                    .addArtistaArea {
                        background-color: black;
                        border-style: none;
                        color: white;
                    }

                    .addArtistaButton {
                        background-color: transparent;
                        color: white;
                        border-style: none;
                        cursor: pointer;
                    }

                    .addArtistaButton:hover {
                        background-color: rgb(68, 68, 68);
                    }
                }
            }
        }
    }
    .userDiv {
        background: linear-gradient(135deg, rgba(255,255,255,0) 5%, rgb(44, 44, 44, 0.8) 5%,
                                            rgb(43, 43, 43, 0.8) 95%, rgba(255,255,255,0) 95%);
        padding: 20px;
        margin-top: 20px;

        .usersLabel {
            color: white;
        }

        .userList {
            list-style: none;
            margin-left: -38px;

            .usuarioLabel {
                color: white;
                margin-top: 10px;
            }

            .usuarioButton {
                float: right;
                background-color: transparent;
                color: white;
                padding: 5px;
                border-style: none;
                cursor: pointer;
                font-size: 18px;
                margin-top: -5px;
                margin-right: 5px;
            }

            .usuarioButton:hover {
                background-color: rgb(68, 68, 68);
            }

            .editUsuarioArea {
                background-color: black;
                border-style: none;
                color: white;
                padding: 5px;
                width: 90%;
                margin-bottom: 10px;
            }

            .usuarioPapel {
                background-color: black;
                padding: 5px;
                border-style: none;
                color: white;
            }

            .usuarioPapel:hover {
                background-color: rgb(68, 68, 68);
            }

            .usuarioButton {
                float: right;
                background-color: transparent;
                color: white;
                padding: 10px;
                border-style: none;
                cursor: pointer;
                font-size: 18px;
                margin-top: -5px;
                margin-right: 5px;
            }

            .usuarioButton:hover {
                background-color: rgb(68, 68, 68);
            }
        }

        .addUsuarioDiv {
            .addUsuario {
                background-color: transparent;
                border-style: none;
                color: white;
                cursor: pointer;
                padding: 10px;
                transition: 0.2s ease;
            }

            .addUsuario:hover {
                background-color: rgb(68, 68, 68);
            }

            .addUsuarioArea {
                background-color: black;
                border-style: none;
                color: white;
                padding: 5px;
                width: 90%;
                margin-bottom: 10px;
            }

            .usuarioPapel {
                background-color: black;
                padding: 5px;
                border-style: none;
                color: white;
            }

            .usuarioPapel:hover {
                background-color: rgb(68, 68, 68);
            }

            .addUsuarioButton {
                float: right;
                background-color: transparent;
                color: white;
                padding: 10px;
                border-style: none;
                cursor: pointer;
                font-size: 18px;
                margin-top: -5px;
                margin-right: 5px;
            }

            .addUsuarioButton:hover {
                background-color: rgb(68, 68, 68);
            }
        }
    }
}